
html{
    background-color: azure;
}
section{
    
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #3498db, #2ecc71); 
    color: #fff; 
    font-family: Arial, Helvetica, sans-serif;
}
img {
    border-radius: 10px; 
}
